@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="~/Scripts/ConversationTrackerIndex.js"></script>
    <title>Conversation Tracker</title>
</head>
<body class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Conversation Tracker
            <span class="pull-right"><a href="~/Tracker/LogOff">Log Off</a></span>
            <span class="pull-right"><a href="~/Tracker/ConversationTrackerReport">Report&nbsp;</a></span>
        </div>
        <div class="panel-content">
            <div ng-app="TrackedConversations" ng-controller="ConversationsCtrl as convos">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Setting(Environment)</th>
                            <th>Who</th>
                            <th>Rate Of Unease</th>
                            <th>Notes</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in convos.items">
                        <tr>
                            <td>{{item.Date.substr(6,13) | date: 'medium'}}</td>
                            <td>{{item.SettingOrEnvironment}}</td>
                            <td>{{item.Who}}</td>
                            <td>{{item.RateOfUnease}}</td>
                            <td>{{item.NotesOfChangeOverTime}}</td>
                            <td><span ng-click="convos.removeItem(item)" class="btn btn-default">X</span></td>
                        </tr>
                    </tbody>
                    <tbody ng-controller="NewConversationCtrl as convo">
                        <tr>
                            <td>
                                <input type="text" class="form-control" datepicker-popup="MMMM dd, yyyy" ng-model="convo.dateTime" is-open="convo.dateOpened" ng-click="convo.open()" />
                                <timepicker ng-model="convo.mytime" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
                            </td>
                            <td>
                                <input class="form-control" type="text" ng-model="convo.setting" />
                            </td>
                            <td>
                                <input class="form-control" type="text" ng-model="convo.who" />
                            </td>
                            <td>
                                <input class="form-control" custom-number-validation ng-model="convo.rateOfUnease" />
                            </td>
                            <td>
                                <textarea class="form-control" rows="4" ng-model="convo.notes"></textarea>
                            </td>
                            <td><span ng-click="convo.addConvo()" class="btn btn-default">Add</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
